/**** mes styles ****/
	h1 {
		text-align:center;
		color:red;
	}
	.justifie {
		text-align:justify;
	}
	.bleu {
			color:blue;
	}
	#titre {
			text-decoration:underline;
	}
	img {
		width:25%;
	}
#menu li a {
	color:black;
	
}


#menu {
	text-align:center
	}
	#menu strong {
	display:none;
	}
	
	#menu ul {
	list-style:none;
	}
	#menu li {
	display:inline;
	padding:2px;
	color:darkwhite
	}

@media (max-width:640px){
	img {
	width:100%;
	}
	#menu strong {
	display:block;
	}
	#menu ul {
	display:none;
	}
	#menu:hover ul {
	display:block;
	}
	#menu ul {
	margin:0;
	padding:0;
	width:100%;
	position:absolute;
	}
	#menu li {
	display:block;
	}
}
